@font-face {
  font-family: Inter;
  src: url(assets/fonts/Inter-VariableFont.ttf);
}

:root {
  --BaseColor: #4DA1AD;
  --Background: #393939;
  --SecondColor: #12626E;
  --White: #EFEFEF;
  --Gray: #6E6E6E;
  --FullWhite: #FFFFFF;
  --Danger: #e11111;

  --GrayOp: #6e6e6e28;
  --ColorMyMess: #bbe6f1;
  
  --BaseFont: Inter;
}

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--BaseFont);

  outline: 0;
}

Button{
  border: 0;
  cursor: pointer;
}

a{
  text-decoration: none;
}

input, textarea{
  border: 0;
  outline: 0;
}

body{
  background-color: var(--White);
}
